@model DejtingsajtProjekt.Models.ProfileViewModels


@{
    /**/

    ViewBag.Title = "Profile";
}
<div>
    @if (Model.ImageName != null)
    {
        <img src="@Url.Content(Model.ImageName)" alt="Image" style="height:200px;width:200px;" />
    }
</div> <br />

@if (HttpContext.Current.User.Identity.Name != null)
{

    var doesProfileExist = Model.Exists;

    if (doesProfileExist)


    {
       // <h2>Profile</h2>

        <div>

            <hr />
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.Firstname)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Firstname)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Lastname)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Lastname)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Birthday)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Birthday)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.ImageName)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.ImageName)
                </dd>
            </dl>
        </div>
        @*<div>
                @if (Model.ImageName != null )
                {
                    <img src="@Url.Content(Model.ImageName)" alt="Image" style="height:200px;width:200px;" />
                }
            </div>*@
        <h3>About me</h3>
        <p>@Html.DisplayFor(model => model.Description)</p>

        <table id="reciver-id" value="@Model.ProfileId">
            <thead>
                <tr>
                    <th> Name</th>
                    <th> Message</th>
                </tr>
            </thead>
            <tbody id="messages"></tbody>
        </table>
        @*
            <input type="hidden" id="reciver-id" value="@Model.ProfileId" />
        *@



    }
    else
    {
        < div >
        < h2 > Create your profile to get started!</ h2 >
        @Html.Partial("UpdateProfile")

        </ div >
    }
}
else
{
    /*Detta funkar inte just nu.....*/
    <h2>Get started</h2>
    <p>Create an account today to get started, or login to admire your profile!</p>
    <button>@Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</button>
    <Button>@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</Button>

}

@*<div>
    @if (Model.ImageName != null)
    {
        <img src="@Url.Content(Model.ImageName)" alt="Image" style="height:200px;width:200px;" />
    }
</div>*@

<p>
    @Html.ActionLink("Edit", "", new { /* id = Model.PrimaryKey */ })
    @Html.ActionLink("Back to List", "Index")
</p>

@section scripts {
    <script>
        $(function () {
            
            function getMessages() {
                //rensa
                $('#message-text').val('');

                var reciverId = $('#reciver-id').val();

                //Hämta meddelanden
                $.get('/api/profiles/message/show?reciverId=' + reciverId, function (messagesToShow) {
                    $('#messages').text('');

                    messagesToShow.forEach(function (message) {
                        var tableRow = $('<tr>');
                        tableRow.append(
                            '<td> <a class="list-group-item" href="/Profile/UserProfile/' + message.SenderId + '">' + message.SenderName
                            + '</a> </td>'
                        );
                        tableRow.append('<td>' + message.MessageText + '</td>');
                        tableRow.append('</tr>');
                        //Lägg till i tabellen
                        $('#messages').append(tableRow);
                    });
                });

            }
            getMessages();
        });
    </script>
}
