@using DejtingsajtProjekt.Models

@model ProfileListViewModel

<p>
    @using (Html.BeginForm("SearchUser", "Profile", FormMethod.Get))
    {
<p>
    Search firstname: @Html.TextBox("firstname") <br />

    Search lastname: @Html.TextBox("lastname") <br />
    <!--<input type="text" name="search" />-->
    <input type="submit" name="submit" value="Search" />
</p>
}
    </p>

    <h2>Profiles</h2>
    <table>
        @foreach (var profile in Model.Profiles)
        {
            <tr>
                <td><a class="list-group-item" href="/Profile/UserProfile/@profile.UserId">@profile.Firstname  @profile.Lastname</a></td>
                <td>@profile.Birthday</td>
            </tr>
        }
    </table>