@using DejtingsajtProjekt.Models

@model ProfileViewModels



<h2> @Model.Firstname @Model.Lastname 's Profile</h2>
  <input type="button" value="Send a friendrequest" onclick="location.href='@Url.Action("SendFriendRequest", "Profile", new { id = Model.ProfileId } )'" /> 
<h3>Birthday @Model.Birthday</h3>
  <p>
      @Model.Description
  </p>
