@using DejtingsajtProjekt.Models

@model ProfileViewModels



<h2> @Model.Firstname @Model.Lastname 's Profile</h2>
<input type="button" value="Send a friendrequest" onclick="location.href='@Url.Action("SendFriendRequest", "Profile", new { id = Model.ProfileId } )'" />
<h3>Birthday @Model.Birthday</h3>
<p>
    @Model.Description
</p>

<form id="send-message-form">
    <input type="hidden" id="reciver-id" value="@Model.ProfileId" />
    <div class="form-group">
        <div class="input-group">
            <input type="text" id="message-text" required />
        </div>
        <div class="input-group">
            <button type="submit" class="btn btn-success">
                Send Message
            </button>
        </div>

    </div>

</form>

@section scripts {
    <script>
        $('#send-message-form').submit(function (ev) {
            ev.preventDefault();
            var reciverId = $('#reciver-id').val();
            var message = $('#message-text').val();
            if (message !== '') {
                //Kommer hit i alla fall. Sen går något inte..
               // $.get('/api/profiles/message/add?reciverId=' + reciverId + '&messageText=' + message)
                $.get('/api/profiles/message/add?reciverId=' + reciverId + '&messageText=' + message,
                    function () {
                        window.location.reload();
                    });
            }
        });
    </script>
}

