@using DejtingsajtProjekt.Models

@model ProfileViewModels



    <br/>
    <div class="col-sm-4">


        <img src="@Model.ImageName" alt="Image" style="height:200px;width:200px;" />
        <h3> @Model.Firstname @Model.Lastname</h3> <br />
        <input type="button" class="btn btn-default" value="Send a friendrequest" onclick="location.href='@Url.Action("SendFriendRequest", "Profile", new { id = Model.ProfileId } )'" />

        <h3>Birthday @Model.Birthday</h3>
        <p>
            @Model.Description
        </p>
    </div>
    <div class="col-sm-8">
        <form id="send-message-form">
            <input type="hidden" id="reciver-id" value="@Model.ProfileId" />
            <div class="form-group">
                <div class="input-group">
                    <input type="text" id="message-text" required />
                </div>
                <div class="input-group">
                    <button type="submit" class="btn btn-default">
                        Send Message
                    </button>
                </div>

            </div>

        </form>

        <table class="table">
            <thead>
                <tr>
                    <th> Name</th>
                    <th> Message</th>
                </tr>
            </thead>
            <tbody id="messages"></tbody>
        </table>

    </div>

@section scripts {
    <script>
        $(function () {
            $('#send-message-form').submit(function (ev) {
                ev.preventDefault();
                var reciverId = $('#reciver-id').val();
                var message = $('#message-text').val();
                if (message !== '' && message.match(/^[A-Za-z0-9]*$/)) {
                    //Kommer hit i alla fall. Sen går något inte..
                    // $.get('/api/profiles/message/add?reciverId=' + reciverId + '&messageText=' + message)
                    $.get('/api/profiles/message/add?reciverId=' + reciverId + '&messageText=' + message,
                        function () {
                            getMessages();
                        });
                }
                else {
                    alert("Du kan bara skriva bokstäver och siffror ");
                }
            });


            function getMessages() {
                //rensa
                $('#message-text').val('');

                var reciverId = $('#reciver-id').val();

                //Hämta meddelanden
                $.get('/api/profiles/message/show?reciverId=' + reciverId, function (messagesToShow) {
                    $('#messages').text('');

                    messagesToShow.forEach(function (message) {
                        var tableRow = $('<tr>');
                        tableRow.append(
                            '<td> <a class="list-group-item" href="/Profile/UserProfile/' + message.SenderId + '">' + message.SenderName
                            + '</a> </td>'
                        );
                        tableRow.append('<td>' + message.MessageText + '</td>');
                        tableRow.append('</tr>');
                        //Lägg till i tabellen
                        $('#messages').append(tableRow);

                    });
                });

            }
            getMessages();
        });
    </script>
}

